<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wizards.future.wikispeaks" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".WikiApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".wizards.future.wikispeaks.activities.WikiStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wizards.future.wikispeaks.activities.WikiChooseActivity"
            android:label="@string/title_activity_wiki_choose"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wizards.future.wikispeaks.activities.WikiSearchActivity"
            android:label="@string/title_activity_wiki_search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wizards.future.wikispeaks.activities.WikiReadActivity"
            android:label="@string/title_activity_wiki_read"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
